 /* Fontes: font-family:'Open Sans', sans-serif; font-family:'Titillium Web', sans-serif;*/

 /*Geral*/

 /* Prefixos:
-moz mozilla
-webkit apple
-ms ie edge
-o opera */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

button {
  padding: 10px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-family: 'Titillium Web';
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button:hover {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  font-style: italic;
  margin: 10px;
}

h2 {
  margin: 30px;
  font-size: 40px;
}

h4 {
  border-bottom: 4px solid rgb(41, 137, 216);
  margin: 15px auto;
  font-size: 25px;
  color: white;
  text-align: center;
  display: inline-block;
}

#progress-bar {
  position: fixed;
  height: 0%;
  width: 5px;
  background: rgba(41, 137, 216, 1);
  z-index: 99;
  left: calc((100vw - 5px));
}

.sidenav {
  position: fixed;
  width: 100vw;
  text-decoration: none;
  display: none;
  margin: 0 auto;
  top: calc(100vh - 55px);
  /* opacity: .7; */
  z-index: 99;
}

.sidenav-link a {
 text-decoration: none;
 color: white;
}

ul:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 30px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

li {
  margin: 10px 20px;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

li:hover {
  border-bottom: 3px solid white;
}

li.active {
  border-bottom: 3px solid #2989d8;
}

li.active a{
  color: #2989d8;
}

label {
 cursor: pointer;
}

.mute-button{
 cursor: pointer;
 border-bottom: 0px;
}

.mute-button:hover{
 cursor: pointer;
 border-bottom: 0px;
}

.mute {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
}

.muted {
  background-color: green;
}

.dash {
  width: 3px;
  height: 0px;
  min-height: 0px;
  display: block;
  background-color: white;
  border-radius: 45px;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  float: left;
  transition: all 0.3s;
}

.dash:nth-child(1) {
  transform-origin: 0px 0px;
  transform: rotate(-45deg);
  left: 0px;
  margin-left: -8px;
  margin-top: 3px;
}

.dash:nth-child(2) {
  transform-origin: 0px -1px;
  transform: rotate(45deg);
  right: 0px;
  transition-delay: 0.3s;
}

.close {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 10px;
}

label input {
  display: none;
}

input:checked+.close>.dash {
  min-height: 20px;
  transition: all 0.3s linear;
}

input:checked+.close>.dash:nth-child(1) {
  transition-delay: 0.3s;
}

label {
  /* position: absolute; */
  z-index: 99;
  top: 5%;
  right: 5%;
}

label img {
  margin-bottom: 0px !important;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.blur10 {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.blur5 {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.blur3 {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.intro-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  z-index: 100;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.intro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: block;
  position: relative;
  top: calc((164px - 100vh) / -2);
}

.intro-img {
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff000071;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.intro-img svg {
  height: 40px;
  width: 40px;
  position: relative;
  display: block;
  margin: 0 auto;
  -webkit-filter: invert(0%);
  filter: invert(0%);
  top: 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.intro-img:hover {
  background: white !important;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.intro-img:hover svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.intro-txt {
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  width: 100vw;
  top: 90px;
  left: -50vw;
}

.intro-compatibility {
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  width: 100vw;
  top: 50vh;
  left: -50vw;
  font-size: 13px;
}

.intro-img-idle {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
}

.intro-img-idle:before, .intro-img-idle:after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 0;
}

.animate:before, .animate:after {
  -webkit-animation: animate 1.5s linear infinite;
  animation: animate 1.5s linear infinite;
}

.animate:after {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.slides-container {
  display: block;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.slide:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  z-index: -99;
}

.slide {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
  z-index: 97;
}

.slide-no-vertical-alignment {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
  z-index: 98;
}

.fullscreen_video_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video_bg {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slide-txt {
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: none;
  vertical-align: middle;
  display: inline-block;
  width: 100vw;
  max-width: 100%;
  overflow: visible;
  opacity: 0;
  opacity: 1;
  z-index: 98;
}

.cover {
  opacity: 0;
}

.cover-cta {
  display: block;
  position: relative;
  height: auto;
  width: 100vw;
}

.cover-cta-img {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cover-cta-img svg {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  -webkit-filter: invert(0%);
  filter: invert(0%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cover-cta-img:hover {
  background-color: white;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cover-cta-img:hover svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.isthisai {
  background-color: rgb(8, 8, 8)
}

#isthisai {
  position: relative;
  overflow: hidden;
  background-color: #140937;
  background-position: top;
  background-size: cover;
}

#isthisai img {
  position: absolute;
  display: block;
  left: 0%;
  width: 100%;
  top: -10%;
}

#isthisai_text {
  opacity: 1;
  z-index: 6;
}

#isthisai_parallax_1 {
  bottom: 0;
  z-index: 98;
}

#isthisai_parallax_2 {
  bottom: 50%;
  z-index: 4;
}

#isthisai_parallax_3 {
  bottom: 0;
  z-index: 3;
}

#isthisai_parallax_4 {
  opacity: 1;
  z-index: 2;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#isthisai_parallax_5 {
  opacity: 1;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.button-wrapper {
  margin: 30px;
}

.continuar {
  width: 100vh;
  display: block;
  text-align: center;
  margin: 25px auto;
}

.continuar-button {
  border: 2px solid white;
  color: white;
}

.continuar-button:hover {
  background-color: white;
  color: black;
}

.brief-history {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  white-space: initial;
  background-repeat: no-repeat;
  background: rgb(20, 9, 55);
  background: -webkit-linear-gradient(top, rgba(20, 9, 55, 1) 0%, rgba(12, 0, 53, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 9, 55, 1)), to(rgba(12, 0, 53, 1)));
  background: -o-linear-gradient(top, rgba(20, 9, 55, 1) 0%, rgba(12, 0, 53, 1) 100%);
  background: linear-gradient(to bottom, rgba(20, 9, 55, 1) 0%, rgba(12, 0, 53, 1) 100%);
}

.brief-history img {
  position: fixed;
}

#history-img-1 {
  margin-top: -500px;
  z-index: 98;
}

#history-img-2 {
  left: 50vw;
  margin-top: 403px;
}

#history-img-3 {
  margin-top: -933px;
  left: 30%;
}

#history-img-4 {
  margin-bottom: 39px;
  left: 90%;
  z-index: 98;
}

#history-img-5 {
  margin-top: -1100px;
  z-index: 1;
  left: 50%;
}

#history-img-6 {
  z-index: 1;
  left: 50%;
  margin-top: 3000px;
}

#history-img-7 {
  z-index: 1;
  left: 20%;
  margin-top: 4000px;
}

#history-img-8 {
  z-index: 1;
  left: 50%;
  margin-top: 2000px;
}

.brief-history-bottom {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  white-space: initial;
  background-image: url('../img/set-bg-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.history-nav svg {
  width: 20px;
  height: 15px;
  position: relative;
  top: 3px;
  overflow: hidden;
}

.history-nav button {
  border-radius: 50%;
  width: auto;
  height: auto;
  border: none;
  background-color: rgb(255, 127, 0);
  display: inherit;
  margin: 20px;
}

button#subir {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

.history-nav {
  position: absolute;
  display: inline-block;
  z-index: 99;
  vertical-align: middle;
  height: 100vw;
  right: 0;
}

.history-nav:before {
  content: '';
  color: white;
  height: calc(100vh/2.5);
  /* width: 1px; */
  display: inline-block;
  /* vertical-align: middle; */
  z-index: 99;
}

/* Container da timeline*/

.timeline-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timeline-container::after, .timeline-block::after, .timeline-content::after {
  content: '';
  display: table;
  clear: both;
}

/* Bloco da timeline*/

#timeline {
  position: relative;
  padding: 30px 0;
  margin-top: 45px;
  margin-bottom: 45px;
}

/*Linha vertical*/

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: -moz-linear-gradient(top, rgba(41, 137, 216, 0) 0%, rgba(41, 137, 216, 1) 10%, rgba(41, 137, 216, 1) 90%, rgba(41, 137, 216, 0) 100%);
 
  background: -webkit-linear-gradient(top, rgba(41, 137, 216, 0) 0%, rgba(41, 137, 216, 1) 10%, rgba(41, 137, 216, 1) 90%, rgba(41, 137, 216, 0) 100%);
 
  background: linear-gradient(to bottom, rgba(41, 137, 216, 0) 0%, rgba(41, 137, 216, 1) 10%, rgba(41, 137, 216, 1) 90%, rgba(41, 137, 216, 0) 100%);
  
  left: 50%;
  margin-left: -2px;
}

/*Bloco de texto da timeline*/

.timeline-block {
  position: relative;
  margin: 65px 0;
}

/*circulo da timeline*/

.timeline-img {
  position: absolute;
  top: 0;
  border-radius: 50%;
  background: rgb(41, 137, 216);
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

/*texto com data da timeline*/

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: rgba(41, 137, 216, 0.2);
  border-radius: 15px;
  padding: 20px;
  color: white;
}

.timeline-content h2 {
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.timeline-content .timeline-date {
  display: inline-block;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
}

.timeline-content p {
  margin: 14px 0;
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
}

.timeline-img.timeline-block-hide {
  visibility: hidden;
}

.timeline-img.timeline-block-show {
  visibility: visible;
  -webkit-animation: timeline-img-show 0.6s;
  animation: timeline-img-show 0.6s;
}

.timeline-content {
  margin-left: 0;
  width: 45%;
}

.timeline-content .timeline-date {
  /* position: absolute; */
  width: 100%;
  /* left: 122%; */
  top: 6px;
  font-size: 26px;
  /* float: left; */
  color: #2989d8;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

/*Para childs de index par (css odd/even)*/

.timeline-block:nth-child(even) .timeline-content {
  float: right;
}

.timeline-block:nth-child(even) .timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #eaeaea;
}

.timeline-content.timeline-block-hide {
  visibility: hidden;
}

.timeline-content.timeline-block-show {
  visibility: visible;
  -webkit-animation: timeline-block-left-show 0.6s;
  animation: timeline-block-left-show 0.6s;
}

/* inverse bounce effect on even content blocks */

.timeline-block:nth-child(even) .timeline-content.timeline-block-show {
  -webkit-animation: timeline-block-right-show 0.6s;
  animation: timeline-block-right-show 0.6s;
}

.ai-uses {
  background-color: rgba(12, 0, 53, 1);
  background-size: cover, cover, cover;
  background-position: bottom, bottom, center;
}

.ai-uses-grid-container {
  display: -ms-grid;
  display: grid;
  /* background-color: red; */
  -ms-grid-columns: (auto, auto, auto);
  grid-template-columns: repeat(3, auto);
  padding: 10px;
  max-width: 1170px;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.ai-uses-icon {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 50%;
}

.ai-uses-icon-img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 60px;
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ai-uses-icon:hover {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: white;
}

.ai-uses-icon:hover .ai-uses-icon-img {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

#ai-uses-modal {
  width: 50vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  white-space: initial;
  z-index: 5;
  position: absolute;
  display: block;
  left: 25vw;
  background: #121c55;
  border-radius: 15px;
  top: 0;
  display: none;
  overflow: visible;
}

.modal-txt {
  color: white;
  padding: 10px;
}

#close {
  background-color: rgb(41, 137, 216);
  border: 0px;
  margin: 30px;
  margin-top: 10px;
  border: 2px solid rgb(41, 137, 216);
}

#close:hover {
  color: rgb(41, 137, 216);
  background-color: white;
}

.ai-uses-grid-item {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 65px;
  overflow: hidden;
  margin: 0 auto;
}

.ai-companies {
  white-space: inherit;
  background: rgb(12, 0, 53);
  background: -moz-linear-gradient(top, rgba(12, 0, 53, 1) 0%, rgba(5, 3, 17, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(12, 0, 53, 1) 0%, rgba(5, 3, 17, 1) 100%);
  background: linear-gradient(to bottom, rgba(12, 0, 53, 1) 0%, rgba(5, 3, 17, 1) 100%);
  pointer-events: none;
}

.ai-companies-network {
  background-image: url('../img/empresas-ai.png');
  max-width: 700px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: calc(100vh - 90vh);
  background-position: top;
  background-size: cover;
  height: 620px;
  z-index: 97;
}

.ai-company:before {
  content: '';
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.ai-company {
  /* background-color: blue; */
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.ai-company-circle {
  background-color: #2683df;
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  pointer-events: all;
  border-radius: 50%;
  opacity: 1;
}

.ai-company-content {
  vertical-align: middle;
  max-width: 80%;
  background-color: #2683df;
  display: none;
  position: relative;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  left: -300px;
  padding: 20px;
  top: -55%;
  background: rgba(20, 9, 55, 0.8);
  border-radius: 15px;
  padding: 10px;
  color: white;
}

#ai-company-1 {
  position: absolute;
  left: 122px;
  top: 134PX;
}

#ai-company-2 {
  position: absolute;
  left: 170px;
  top: 310px;
}

.links {
  background: rgb(5, 3, 17);
}

.links-grid-container {
  display: -ms-grid;
  display: grid;
  /* background-color: red; */
  -ms-grid-columns: (auto, auto, auto, auto);
  grid-template-columns: repeat(4, auto);
  padding: 10px;
  width: 90vw;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.links-grid-item {}

/*----------------------------
----------[ANIMACOES]---------
-------------------------------*/

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes timeline-img-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes timeline-img-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes timeline-block-left-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes timeline-block-left-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes timeline-block-right-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes timeline-block-right-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}