/* Fontes:
font-family:'Open Sans', sans-serif;
font-family:'Titillium Web', sans-serif;*/

/*Geral*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  padding: 10px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-family: 'Titillium Web';
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  margin: 0 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  transition: all .2s ease-in-out;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  font-style: italic;
  margin: 10px;
}

h2 {
  margin: 30px;
  font-size: 40px;
}

h4 {
  border-bottom: 2px solid rgb(18, 0, 78);
  width: 90%;
  margin: 15px auto;
  font-size: 25px;
  color: rgb(18, 0, 78);
  text-align: center;
  display: inline-block;
}

.blur {
  /*-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);*/
  filter: blur(5px);
  transition: all 3s ease;
}

.intro-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.intro {
  width: fit-content;
  margin: 0 auto;
  display: block;
  position: relative;
  top: calc((164px - 100vh) / -2);
}

.intro-img {
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff000071;
  transition: all .5s ease-in-out;
}

.intro-img svg {
  height: 40px;
  width: 40px;
  position: relative;
  display: block;
  margin: 0 auto;
  filter: invert(0%);
  top: 15px;
  transition: all .2s ease-in-out;
}

.intro-img:hover {
  background: white !important;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.intro-img:hover svg {
  filter: invert(100%);
  transition: all .2s ease-in-out;
}

.intro-txt {
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  width: 100vw;
  top: 90px;
  left: -50vw;
}

.intro-compatibility {
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  width: 100vw;
  top: 50vh;
  left: -50vw;
  font-size: 13px;
}

.intro-img-idle {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
}

.intro-img-idle:before, .intro-img-idle:after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 0;
  background-visibility: hidden;
}

.animate:before, .animate:after {
  animation: animate 1.5s linear infinite;
}

.animate:after {
  animation-delay: .5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.slides-container {
  display: block;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.slide:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  z-index: -99;
}

.slide {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
}

.fullscreen_video_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video_bg {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-txt {
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: none;
  vertical-align: middle;
  display: inline-block;
  width: 100vw;
  max-width: 100%;
  overflow: visible;
  opacity: 0;
  z-index: 4;
}

.cover-cta {
  display: block;
  position: relative;
  height: auto;
  width: 100vw;
}

.cover-cta-img {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  cursor: pointer;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.cover-cta-img svg {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  filter: invert(0%);
  transition: all .2s ease-in-out;
}

.cover-cta-img:hover {
  background-color: white;
  transition: all .2s ease-in-out;
}

.cover-cta-img:hover svg {
  filter: invert(100%);
  transition: all .2s ease-in-out;
}

.isthisai {
  background-color: rgb(8, 8, 8)
}

#isthisai {
  position: relative;
  overflow: hidden;
  background-image: url('../media/stills/set-bg.png');
  background-position: top;
  background-repeat-y: repeat;
  background-size: cover;
}

#isthisai img{
  position: absolute;
  display: block;
  left: -10%;
  width: 120%;
  top: -20%;
}

#isthisai_parallax_1 {
  bottom: 0;
  z-index: 4;
}

#isthisai_parallax_2 {
  bottom: 50%;
  z-index: 3;
}

#isthisai_parallax_3 {
  bottom: 0;
  z-index: 2;
  opacity: 0.2;
}

#isthisai_parallax_4 {
  opacity: 1;
  z-index: 1;
}

.button-wrapper {
  margin: 30px;
}

.continuar {
  width: 100vh;
  display: block;
  text-align: center;
  margin: 25px auto;
}

.continuar-button {
  border: 2px solid white;
  color: white;
}

.continuar-button:hover {
  background-color: white;
  color: black;
}

.brief-history {
  height: max-content;
  white-space: initial;
  background-image: url('../media/stills/set-2a-layer-inverted.png'),url('../media/stills/set-bg-1-inverted.png');
  background-position: top center ,top center;
  background-repeat: no-repeat;
  background-color: rgba(255, 0, 255);
  background-size: cover, cover;
}

#brief-history {
  overflow: auto;
  max-height: 100vh;
}

button#descer, button#subir{

}
.brief-history-bottom {
  height: max-content;
  white-space: initial;
  background-image: url('../media/stills/set-bg-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.history-nav svg {
  width: 20px;
  height: 15px;
  position: relative;
  top: 3px;
  overflow: hidden;
}

.history-nav button {
  border-radius: 50%;
  width: auto;
  height: auto;
  border: none;
  background-color: rgb(255, 127, 0);
  display: inherit;
  margin: 20px;
}

button#subir {
  transform: rotate(180deg) !important;
}

.history-nav {
  position: absolute;
  display: inline-block;
  z-index: 99;
  vertical-align: middle;
  height: 100vw;
  right: 0;
}

.history-nav:before {
  content: '';
  color: white;
  height: calc(100vh/2.5);
  /* width: 1px; */
  display: inline-block;
  /* vertical-align: middle; */
  z-index: 99;
}


/* Container da timeline*/

.timeline-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timeline-container::after, .timeline-block::after, .timeline-content::after {
  content: '';
  display: table;
  clear: both;
}

/* Bloco da timeline*/

#timeline {
  position: relative;
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Linha vertical*/

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
   /* Old browsers */
   /* FF3.6-15 */
   /* Chrome10-25,Safari5.1-6 */
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* IE6-9 */
  background: -moz-linear-gradient(top, rgba(255,0,255,0) 0%, rgba(216,0,226,1) 10%, rgba(18,0,78,1) 60%, rgba(196,0,211,1) 90%, rgba(255,0,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,0,255,0) 0%,rgba(216,0,226,1) 10%,rgba(18,0,78,1) 60%,rgba(196,0,211,1) 90%,rgba(255,0,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,0,255,0) 0%,rgba(216,0,226,1) 10%,rgba(18,0,78,1) 60%,rgba(196,0,211,1) 90%,rgba(255,0,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00ff', endColorstr='#00ff00ff',GradientType=0 ); /* IE6-9 */
}

/*Bloco de texto da timeline*/

.timeline-block {
  position: relative;
  margin: 30px 0;
}

/*circulo da timeline*/

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(255, 127, 0);
}

/*texto com data da timeline*/

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: rgba(18, 0, 78, 0.5);
  border-radius: 15px;
  border: 2px solid rgb(255, 0, 255);
  padding: 20px;
  color: white;
}

.timeline-content h2 {
  color: #000;
  font-weight: 400;
}

.timeline-content .timeline-date {
  display: inline-block;
  opacity: 1;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Titillium Web', sans-serif;
}

.timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  font-weight: 300;
  font-size: 13px;
}

.ai-uses{
  background-color: rgb(255, 0, 255);
  background-image: url('../media/stills/set-4a-layer.png'),  url('../media/stills/set-2a-layer.png'), url('../media/stills/set-bg-1.png');
  background-size: cover, cover, cover;
  background-position: bottom, bottom, center;
 
}



.ai-uses-grid-container {
  display: grid;
  /* background-color: red; */
  grid-template-columns: repeat(3,auto);
  padding: 10px;
  max-width: 1170px;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}


.ai-uses-icon{
  display: block;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s ease-in-out;
  border-radius: 50%;
}


.ai-uses-icon-img {
  filter: invert(100%);
  height: 60px;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.ai-uses-icon:hover{
  transition: all .2s ease-in-out;
  background-color: white;
}

.ai-uses-icon:hover .ai-uses-icon-img{
  transition: all .2s ease-in-out;
  filter: invert(0%);
}

#ai-uses-modal{
  
width: 50vw;
  
height: max-content;
  
white-space: initial;
  
z-index: 5;
  
position: absolute;
  
display: block;
  
left: 25vw;
  
background: white;
  
border-radius: 15px;
  
top: 0;
  
display: none;
  
overflow: visible;
}

#ai-uses-content{

}

.modal-txt{
  color:rgb(255, 0, 255);
  padding: 10px;
}
#close {
  background-color: rgb(18, 0, 78);
  border: 0px;
  margin: 30px;
  margin-top: 10px;
  border: 2px solid rgb(18, 0, 78);
}

#close:hover {
  color: rgb(18, 0, 78);
 background-color: white;
}

.ai-uses-grid-item {
  width: min-content;
  height: 65px;
  overflow: hidden;
  margin: 0 auto;
}

@-webkit-keyframes timeline-img-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes timeline-img-show {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes timeline-img-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes timeline-block-left-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes timeline-block-left-show {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes timeline-block-left-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes timeline-block-right-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes timeline-block-right-show {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes timeline-block-right-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@media only screen and (min-width:768px) {
  .timeline-content h2 {
    font-size: 20px;
  }
  .timeline-content p {
    font-size: 16px;
  }
  .timeline-content .timeline-date {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 65px 0;
  }
  #timeline {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
  .timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }
  .timeline-img.timeline-block-hide {
    visibility: hidden;
  }
  .timeline-img.timeline-block-show {
    visibility: visible;
    -webkit-animation: timeline-img-show 0.6s;
    -moz-animation: timeline-img-show 0.6s;
    animation: timeline-img-show 0.6s;
  }
  .timeline-content {
    margin-left: 0;
    /* padding: 1.6em; */
    width: 45%;
  }
  .timeline-content .timeline-date {
    /* position: absolute; */
    width: 100%;
    /* left: 122%; */
    top: 6px;
    font-size: 18px;
    /* float: left; */
    color: rgb(255, 0, 255);
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
  }
  /*Para childs de nÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Âºmero par (css odd/even)*/
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #eaeaea;
  }
  .timeline-block:nth-child(even) .timeline-content .timeline-date {
    /* left: auto; */
    /* right: 122%; */
    /* text-align: right; */
  }
  .timeline-content.timeline-block-hide {
    visibility: hidden;
  }
  .timeline-content.timeline-block-show {
    visibility: visible;
    -webkit-animation: timeline-block-left-show 0.6s;
    -moz-animation: timeline-block-left-show 0.6s;
    animation: timeline-block-left-show 0.6s;
  }
  /* inverse bounce effect on even content blocks */
  .timeline-block:nth-child(even) .timeline-content.timeline-block-show {
    -webkit-animation: timeline-block-right-show 0.6s;
    -moz-animation: timeline-block-right-show 0.6s;
    animation: timeline-block-right-show 0.6s;
  }
}